<!DOCTYPE html>
<html>
  <head>
    <title>Untitled11</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div style=" background-color: #44a4e8;padding:20px">
    <span>
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, :method=>'delete'%>
        <%= link_to "My Flights", '/reservations', :method=>'delete'%>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </span>
  </div>


    <%= yield %>
  </body>
</html>
